{% extends "app_forum/base.html" %}

{% block title %} Logo Nav - Start Bootstrap Template {% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>This is the home page where we show the latest information</h1>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <h3>Please use the navigation menu to log in and access the forum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis, massa quis congue lobortis, dui nunc malesuada neque, faucibus maximus urna diam eget leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus molestie, nisi at sagittis consequat, elit mauris vestibulum eros, nec vulputate augue arcu a lorem. Nunc tempus, massa non ultricies gravida, lorem felis volutpat lorem, ut congue est diam rhoncus libero. Praesent pellentesque enim et lectus porta pretium semper vel nisi. Cras ac ligula eget magna tincidunt feugiat at non nulla. Maecenas a lacus aliquam, commodo quam vel, fringilla nisl. Mauris quis auctor nulla, sit amet varius felis. Integer faucibus diam erat. Phasellus tristique et nulla pellentesque rutrum. Proin viverra risus non nunc pharetra dapibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis, massa quis congue lobortis, dui nunc malesuada neque, faucibus maximus urna diam eget leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus molestie, nisi at sagittis consequat, elit mauris vestibulum eros, nec vulputate augue arcu a lorem. Nunc tempus, massa non ultricies gravida, lorem felis volutpat lorem, ut congue est diam rhoncus libero. Praesent pellentesque enim et lectus porta pretium semper vel nisi. Cras ac ligula eget magna tincidunt feugiat at non nulla. Maecenas a lacus aliquam, commodo quam vel, fringilla nisl. Mauris quis auctor nulla, sit amet varius felis. Integer faucibus diam erat. Phasellus tristique et nulla pellentesque rutrum. Proin viverra risus non nunc pharetra dapibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis, massa quis congue lobortis, dui nunc malesuada neque, faucibus maximus urna diam eget leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus molestie, nisi at sagittis consequat, elit mauris vestibulum eros, nec vulputate augue arcu a lorem. Nunc tempus, massa non ultricies gravida, lorem felis volutpat lorem, ut congue est diam rhoncus libero. Praesent pellentesque enim et lectus porta pretium semper vel nisi. Cras ac ligula eget magna tincidunt feugiat at non nulla. Maecenas a lacus aliquam, commodo quam vel, fringilla nisl. Mauris quis auctor nulla, sit amet varius felis. Integer faucibus diam erat. Phasellus tristique et nulla pellentesque rutrum. Proin viverra risus non nunc pharetra dapibus.</p>
        </div>
    </div>
</div>
{% endblock %}
